body {
	margin: 0;
	padding: 0;
	background-color: gray;
}


nav{
	width: 100%;
}

select{
	 background: white;
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 200px;
     margin-top: 0;
     font-family: 'Montserrat', sans-serif;
}
h1{
	text-align: center;
	margin:0;
	font-weight: 700;
	font-size: 25px;

}
h2{
	text-align: left;
	margin:0;
	font-weight: 700;
	font-size: 25px;

}
hr{
	background-color: #FFC107;
	height: 3px;
	width: 90%;
	float: left;
	display: inline-block;
}


#logo {
	width: 20%;
	height:50px;
	background-color: white;
	display: inline-block;
	float: left;
}

#logo>img{
	width: 150px;
	margin-left: 50px;
	float: left;
	height: 50px;
}


#data-dashboard {
	background-color: #FFC107;
	width: 80%;
	height: 50px;
	display: inline-block;	
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 20pt;
}
#main-title{
	margin:5px;

}
#location-menu > div{	
	margin-left: 30px;
}
#location-menu > div> p{
	background-color:  #FFC107;
	height: 25px;
	width: 200px;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
}

#section-left {
	height: 100%;
	width: 20%;
	background-color: #ECEBEB;
	display: inline-block;
	float: left;
	
}
#section-right {
	width: 80%;
	background-color: #ffffff;
	display: inline-block;
	float: left;
	height: 100%
}
#section-right>p{
	display: inline-block;
	height: 10px;
	font-family: 'Montserrat', sans-serif;
	margin-right: 40px;
	margin-left: 10px;
}
#section-right>p>a{
	text-decoration: none;	
	color:black;
}
#totalShow{
	margin: 0;
	font-weight: bold;
	font-size: 20px
}
#desercion{
	height: 50px;
	background-image: url(../assets/images/icono_des.svg);
	background-repeat: no-repeat;
	background-position: center;
}
#desercion>p{
	margin-top: 5px;
	padding-top: 15px;
}
#data{
	width: 300px;
	height: 300px;
	margin:15px;	
	float: left;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 14pt;

}
#data-circle{
	background-image: url(../assets/images/circles.svg);
	width: 300px;
	height: 300px;
	margin:15px;	
	float: left;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 14pt;
	background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
}
#info-text{
	margin: auto auto;
	height: 100%;
	padding-top: 32px;
	padding-left: 40px;
}

.text-fijo {
    color: white;
    width: 105px;
    height: 50px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 10pt;
    margin-bottom: 40px;
}
.text-porc {
    color: white;
    width: 120px;
    height: 50px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30pt;
    margin: 0;
      margin-bottom: 40px;
}

#dataBig{
	width: 300px;
	height: 900px	;
	background-color: grey;
	float: left;
}


#overview{
	width: 100%;
}

#photo{
	border-radius: 50%
}
