body {
	margin: 0;
	padding: 0;
	background-color: gray;
}


nav{
	width: 100%;
}

select{
	 background: white;
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 200px;
     margin-top: 0;
     font-family: 'Montserrat', sans-serif;
}
h1{
	height: 10px;
	font-family: 'Montserrat', sans-serif;

}
hr{
	background-color: #FFC107;
	height: 3px;
	width: 90%;
	float: left;
	display: inline-block;
}


#logo {
	width: 20%;
	height: 40px;
	background-color: white;
	display: inline-block;
	float: left;
}

#logo>img{
	width: 150px;
	margin-left: 50px;
	float: left;
	height: 40px;
}


#data-dashboard {
	background-color: #FFC107;
	width: 80%;
	height: 40px;
	display: inline-block;	
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
}

#location-menu > div{	
	margin-left: 30px;
}
#location-menu > div> p{
	background-color:  #FFC107;
	height: 25px;
	width: 200px;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
}

#section-left {
	height: 100%;
	width: 20%;
	background-color: #ECEBEB;
	display: inline-block;
	float: left;
	
}
#section-right {
	width: 80%;
	background-color: #ffffff;
	display: inline-block;
	float: left;
	height: 100%
}

#data{
	width: 300px;
	height: 300px;
	margin:15px;	
	float: left;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 14pt;

}

#dataBig{
	width: 300px;
	height: 900px	;
	background-color: grey;
	float: left;
}


#overview{
	width: 100%;
}

