<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Data Dashboard</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
<!--inicio barra principal-->
    <nav>
      <div id="logo">
       <img src="../assets/images/logo-laboratoria.svg">
      </div>
      <div id="data-dashboard">
        <p id="main-title">DATA DASHBOARD</p>
      </div>
    </nav>

<!--inicio sección izquierda, con los menus-->
    <section id="section-left">
<!-- menú sedes -->
    <div id="location-menu">
      <div> 
        <p>SEDE</p>
        <select id="sede" name="#">
         <option value="" hidden>Selecciona una opción</option>
         <option value="AQP" data-sede="AQP" data-generacion="2016-2">AQP 2016 - 2</option>
         <option value="AQP" data-sede="AQP" data-generacion="2017-1">AQP 2017 - 1</option>
         </optgroup>
         <option value="CDMX" data-sede="CDMX" data-generacion="2017-1">CDMX 2017 - 1</option>
         <option value="CDMX" data-sede="CDMX" data-generacion="2017-2">CDMX 2017 - 2</option>
         </optgroup>
         <option value="LIM" data-sede="LIM" data-generacion="2016-2">LIM 2016 - 1</option>
         <option value="LIM" data-sede="LIM" data-generacion="2017-1">LIM 2017 - 1</option>
         <option value="LIM" data-sede="LIM" data-generacion="2017-2">LIM 2017 - 2</option>
         </optgroup>
         <option value="SCL" data-sede="SCL" data-generacion="2016-2">SCL 2016 - 1</option>
         <option value="SCL" data-sede="SCL" data-generacion="2017-1">SCL 2017 - 1</option>
         <option value="SCL" data-sede="SCL" data-generacion="2017-2">SCL 2017 - 2</option>
         </optgroup>
        </select>      
      </div>
     </div>
    </section>

    <!--sección derecha -->
     <!--menu overview y students--> 
     <section id="section-right">
      <p> <a href="../index.html"><b>OVERVIEW</b></a></p>
      <p ><a href="students.html">STUDENTS</a>  </p>      
      <hr>

      <!--DATA-->
      <div id="students"> 
        <div id="data">
          <img src="../assets/images/estname.jpg">
        </div>
        <div id="data">
          <img id="photo" src="../assets/images/Cristina-Canchola.JPG" style="width: 300px; height: 300px">
               
        </div>
        
        <div id="data">
           
        </div>
        <div id="data">
          <img src="../assets/images/estTECH.jpg">
          
        </div>
        <div id="data">
         <img src="../assets/images/infoest.jpg">
        </div>
        <div id="data">
          <img src="../assets/images/estHSE.jpg">
          </div>
        


        

      </div> 
      

     </section>
      

    <!--Base de datos-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../js/data.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>

